<div class="embedservice-consent" data-show-privacy-notice="{{showPrivacyNotice}}">{{{thumbnailHtml}}}
	<div class="embedservice-overlay">
		<div class="embedservice-loader" role="button">{{{titleHtml}}}
			<div class="embedservice-loader__fakeButton">{{fakeButtonText}}</div>
			<div class="embedservice-loader__footer">
				<div class="embedservice-loader__service">{{serviceText}}</div>
			</div>
		</div>
		<div class="embedservice-privacyNotice hidden">
			<div class="embedservice-privacyNotice__content">{{privacyNoticeText}} {{{privacyPolicyLink}}}</div>
			<div class="embedservice-privacyNotice__buttons">
				<button class="embedservice-privacyNotice__continue">{{continueText}}</button>
				<button class="embedservice-privacyNotice__dismiss">{{dismissText}}</button>
			</div>
		</div>
	</div>
</div>
